<div class="container py-3">
  <div class="d-flex justify-content-start">
    <div class="d-flex justify-content-center align-items-center">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Back_Arrow.svg/768px-Back_Arrow.svg.png" alt="" class="max-image">
    </div>
    <div class="px-2"></div>
    <div>
      <h3>Ingrese su información personal</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur cum velit beatae, voluptas magnam veniam
        laborum! Deleniti ea provident facere odit delectus, aspernatur porro autem numquam! Doloribus illum tempora
        corrupti?
      </p>
    </div>
  </div>
  <form [formGroup]="angForm" (ngSubmit)="submit(angForm.value)">
    <div class="d-flex justify-content-between">
      <div class="col-md-4">
        <label class="form-label">Nombres</label>
        <input type="text" class="form-control" formControlName="nombres" placeholder="Nombres">
        <div class="text-danger"
          *ngIf="angForm.get('nombres')?.hasError('required') && angForm.get('nombres')?.touched">Nombre requerido</div>
      </div>
      <div class="p-2"></div>
      <div class="col-md-4">
        <label class="form-label">Primer Apellido</label>
        <input type="text" class="form-control" formControlName="primer_apellido" placeholder="Primer Apellido">
        <div class="text-danger"
          *ngIf="angForm.get('primer_apellido')?.hasError('required') && angForm.get('primer_apellido')?.touched">Primer
          Apellido requerido</div>
      </div>
      <div class="p-2"></div>
      <div class="col-md-4">
        <label class="form-label">Segundo Apellido</label>
        <input type="text" class="form-control" formControlName="segundo_apellido" placeholder="Segundo Apellido">
        <div class="text-danger"
          *ngIf="angForm.get('segundo_apellido')?.hasError('required') && angForm.get('segundo_apellido')?.touched">
          Segundo Apellido requerido</div>
      </div>
    </div>
    <br>
    <div class="d-flex justify-content-between">
      <div class="col-md-6">
        <label class="form-label">4 últimos dígitos del SNN</label>
        <input type="text" class="form-control" placeholder="4 últimos dígitos del SNN">

      </div>
      <div class="p-2"></div>
      <div class="col-md-6">
        <label class="form-label">Código</label>
        <input type="email" class="form-control" placeholder="Código postal">
      </div>
    </div>
    <br>
    <div>
      <label class="form-label">Fecha de nacimiento</label>
      <input type="date" formControlName="fecha_nacimiento" class="form-control">
      <div class="text-danger"
        *ngIf="angForm.get('fecha_nacimiento')?.hasError('required') && angForm.get('fecha_nacimiento')?.touched">Fecha
        de nacimiento requerida</div>
    </div>
    <br>
    <div class="d-flex justify-content-start">
      <div class="col-md-4">
        <label class="form-label">Correo electrónico</label>
        <input type="email" formControlName="email" class="form-control" placeholder="Correo electrónico">
        <div class="text-danger" *ngIf="angForm.get('email')?.hasError('email') && angForm.get('email')?.touched">Email
          Inválido</div>
      </div>
      <div class="px-2"></div>
      <div class="col-md-8">
        <label class="fw-bold">Tener en cuenta:</label>
        <p>El correo electrónico será su usuario para acceder a su cuenta</p>
      </div>
    </div>
    <br>
    <div class="d-flex justify-content-start">
      <div class="col-md-4">
        <div>
          <label class="form-label">Contraseña</label>
          <input type="password" formControlName="password" class="form-control" placeholder="Contaseña">
          <div class="text-danger"
            *ngIf="angForm.get('password')?.hasError('required') && angForm.get('password')?.touched">La contraseña es
            requerida</div>
          <div class="text-danger"
            *ngIf="angForm.get('password')?.hasError('pattern') && angForm.get('password')?.touched">La contraseña es no
            cumple con el formato</div>
        </div>
        <br>
        <div>
          <label class="form-label">Confirmar Contraseña</label>
          <input type="password" formControlName="password_confirm" class="form-control"
            placeholder="Confirmar Contaseña">
          <div class="text-danger" *ngIf="angForm.hasError('notSame') && angForm.get('password_confirm')?.touched">La
            contraseña no es igual</div>
        </div>
      </div>
      <div class="px-2"></div>
      <div class="col-md-8">
        <label class="fw-bold">La contraseña debe contener:</label>
        <p>8 a 20 caracteres</p>
        <p>Números</p>
        <p [innerHTML]="caracteres"></p>
      </div>
    </div>
    <br>
    <button type="submit" [disabled]="angForm.invalid" class="btn btn-primary w-100">Registrar</button>
  </form>
</div>